NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your_nextauth_secret_here
DATABASE_URL=postgresql://sk_admin:scorekeeper@localhost:5432/sk

# Google Authentication credentials
GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here

# Google Maps API Key
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=your_google_maps_api_key_here

# Initial App Admin
INITIAL_ADMIN_EMAIL=appadmin@scorekeeper.com
