PORT=3001

# DATABASE SETUP
DB_HOST=localhost
DB_NAME=sk
DB_PORT=5432
DB_USERNAME=sk_admin
DB_PASSWORD=scorekeeper

# Environment
NODE_ENV=development

# SMTP CONFIGURATION
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=your_smtp_user_email_here
SMTP_PASS=your_smtp_password_here

# Initial App Admin
INITIAL_ADMIN_EMAIL=appadmin@scorekeeper.live
INITIAL_ADMIN_PASSWORD=appadmin123

# Client App URL for links
APP_URL=http://localhost:3000
